packages:
  yum:
    git: []
    amazon-linux-extras: []
    postgresql-devel
    libffi-devel: []
    gcc-c++: []
    python27-devel: []
    gcc-gfortran: []
    readline-devel: []
    make: []
    atlas: []
    blas: []
    lapack-devel: []
    blas-devel: []
    atlas-devel: []

commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql15
