commands:
  01_upgrade_pip_global:
    command: "pip install --upgrade pip"
  02_upgrade_pip_for_venv:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
