commands:
  01_upgrade_pip_global:
    command: "pip install --upgrade pip"
  02_upgrade_pip_for_venv:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"

container_commands:
  01_view_files:
    command: ""ls && ls /var/app/current"
    leader_only: true
  02_install_requirements:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && pip install -r /var/app/current/requirements.txt"
    leader_only: true
  03_migrate:
    command: "ls /var/app/venv/staging-LQM1lest/bin && source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
